.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-1\/2 {
  height: 50%
}

.h-48 {
  height: 12rem
}

.h-40 {
  height: 10rem
}

.h-32 {
  height: 8rem
}

.h-28 {
  height: 7rem
}

.h-10 {
  height: 2.5rem
}

.w-full {
  width: 100%
}

.w-1\/2 {
  width: 50%
}

.w-48 {
  width: 12rem
}

.w-40 {
  width: 10rem
}

.w-32 {
  width: 8rem
}

.w-28 {
  width: 7rem
}

.w-10 {
  width: 2.5rem
}

.flex-col {
  flex-direction: column
}

.content-center {
  align-content: center
}

.content-between {
  align-content: space-between
}

.content-around {
  align-content: space-around
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity))
}
